:root {
    --main-font:"Poppins", sans-serif;
}

body {
    font-family:"Poppins", sans-serif; 
}

h1,h3 {
    font-family: var(--main-font);
    color: white;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
}
h3{
    font-size: 35px;
}
p{
    color: white;
   font-family: var(--main-font);
}

header a {
   font-size: 700;
   font-size: 14px;
   text-transform: uppercase;
   background-color: white;
   text-decoration: none;
   color: black;
padding: 16px 32px;
display: inline-block;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}
header{
     max-width: 1200px;
        margin: 0 auto;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
          ),
          url("/images/nyc.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        padding: 60px 0;
}

@media (max-width:900px) {
    header {
padding: 60px 0;
}
header h1 {
    font-size: 48px;
}

}